header {
  background: #FFFFFF;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  display: flex;
  justify-content: center;
  position: relative;
}
header .header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}
header .header__logo p {
  font-size: 3rem;
}
header img {
  height: 75px;
}

footer {
  background: #ffffff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  padding: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  height: 70px;
  margin-top: 5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

main {
  margin-top: 50px;
}
main p {
  font-size: 1.5rem;
}
main h1 {
  text-align: center;
  margin-bottom: 3rem;
}
main h2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.presentation {
  background-image: url(./images/watercolour-4116932_1280.png);
  height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.presentation__texte {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.toiles .article {
  margin-bottom: 50px;
}
.toiles .article__image {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  max-width: 420px;
  max-height: 420px;
}
.toiles .article__image img {
  box-shadow: 12px 12px 3px -1px rgba(155, 155, 155, 0.32);
}
.toiles .article__titre {
  margin-top: 20px;
  display: flex;
  justify-content: start;
  margin-left: 120px;
}
.toiles .article__description {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toiles .article__texte {
  width: 80%;
  text-align: justify;
  margin-bottom: 30px;
}
.toiles .article__texte h4 {
  font-weight: bold;
  font-size: 1rem;
}
.toiles .article__texte p {
  font-size: 1rem;
}
.toiles .article__table {
  width: 80%;
}
.toiles .article__table table {
  width: 100%;
}
.toiles .article__table thead {
  text-align: center;
}
.toiles .article__table .colonne__gauche {
  background-color: #77e6b1;
  padding: 10px;
  width: 50%;
}
.toiles .article__table .colonne__droite {
  background-color: #fd9696;
  padding: 10px;
  width: 50%;
}

.article .chassis__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.article .chassis__description p {
  font-size: 1.3rem;
}
.article .chassis__description--titre {
  font-weight: 600;
}
.article .chassis {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}
.article .chassis__image {
  margin-right: 2rem;
}
.article .chassis__image img {
  box-shadow: 4px 4px 3px -1px rgba(155, 155, 155, 0.32);
}
.article .chassis__dimension {
  display: flex;
  justify-content: center;
}

table.blueTable {
  width: 90%;
  text-align: center;
  border-collapse: collapse;
}

table.blueTable td, table.blueTable th {
  border: 1px solid #AAAAAA;
  padding: 5px 10px;
}

table.blueTable tbody td {
  font-size: 14px;
}

table.blueTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 0px solid #D0E4F5;
}

table.blueTable thead th:first-child {
  border-left: none;
}

table.blueTable tfoot td {
  font-size: 14px;
}

table.blueTable tfoot .links {
  text-align: right;
}

.cles {
  margin-top: 5rem;
}
.cles p {
  text-align: justify;
  font-size: 1.2rem;
}
.cles h3 {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
}
.cles__images {
  display: flex;
  justify-content: space-evenly;
  margin: 3rem;
}
.cles__images img {
  box-shadow: 8px 8px 3px -1px rgba(155, 155, 155, 0.32);
}

.lien {
  height: 200px;
  overflow: hidden;
  margin-bottom: 3rem;
}

.information {
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.2rem;
  text-align: justify;
}
.information h1 {
  margin-bottom: 3rem;
}

.home {
  margin-bottom: 3rem;
}
.home .article {
  margin-bottom: 50px;
}
.home .article__image {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.home .article__image img {
  box-shadow: -5px -5px 6px 5px rgba(155, 155, 155, 0.32);
}
.home .article__titre {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 1.4rem;
}
.home .article__image a {
  display: flex;
  justify-content: center;
}
.home .article__image img {
  width: 80%;
  height: 300px;
  overflow: hidden;
}
.home .article__description {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .article__texte {
  width: 80%;
  text-align: justify;
  margin-bottom: 30px;
}
.home .article__texte p {
  font-size: 1rem !important;
}
.home .article__btn {
  display: flex;
  justify-content: center;
}

.lienExterne {
  display: flex;
  flex-direction: column;
}
.lienExterne__information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  font-size: 1.2rem;
}
.lienExterne__information h2 {
  margin-bottom: 3rem;
}
.lienExterne__information p {
  text-align: center;
  width: 72%;
}
.lienExterne__peinture {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/brushes-3129361_1920.jpg);
  margin-bottom: 3rem;
}
.lienExterne__accessoires {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../images/painting-911804_1920.jpg);
  margin-bottom: 3rem;
}
.lienExterne .btn {
  margin: 100px;
}

p {
  font-size: 1.3rem !important;
}

.support .article {
  margin-bottom: 3rem;
}
.support .article img {
  height: 330px;
}

/*# sourceMappingURL=style.css.map */
