.presentation{
   background-image: url(./images/watercolour-4116932_1280.png);
   height: 20rem;
   @media only screen and (min-width: 200px) and (max-width: 640px){
      height: 15rem;
   }
   @media only screen and (min-width: 641px) and (max-width: 1024px){
      height: 15rem;
   }
   display: flex;
   align-items: center;
   justify-content: center;
   &__texte{
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
      @media only screen and (min-width: 200px) and (max-width: 640px){
         padding: 10px;
         font-size: 1.2rem;
         font-weight: 600;
         text-align: center;
         p{
            font-size: 1rem;
         }
      }
      @media only screen and (min-width: 641px) and (max-width: 1024px){
         padding: 10px;
         font-size: 1.6rem;
         font-weight: 600;
         text-align: center;
         p{
            font-size: 1.2rem;
         }
      }
   }
}

