.lien{
   height: 200px;
   overflow: hidden;
   margin-bottom: 3rem;
}  

.article__contenu{
   display: flex;
   flex-direction: row;
}


.home{
   margin-bottom: 50rem;
}

.home{
   margin-bottom: 3rem;
   display: flex;
   justify-content: space-around;

   .article{
      margin-bottom: 50px;
      width: 26rem;
      @media only screen and (min-width: 200px) and (max-width: 640px){
         padding: 0;
      }
      @media only screen and (min-width: 641px) and (max-width: 1024px){
         padding: 0;
      }

      &__image{
         margin-top: 20px;
         display: flex;
         justify-content: center;
         img{
            box-shadow: -5px -5px 6px 5px rgba(155, 155, 155, 0.32);
         }
      }
      &__titre{
         text-align: center;
         font-size: 1.4rem;
      }
      &__image{
         a{
            display: flex;
            justify-content: center;
         }
         img{
            width: 80%;
            height: 100%;
            overflow: hidden;
         }
      }

      &__btn{
         display: flex;
         justify-content: center;
         margin-bottom: 10px;
         .btn{
            width: 200px;
         }
      }
      &__description{
         margin-top: 20px;
         display: flex;
         flex-direction: column;
         align-items: center;
      }
   
      &__texte{
         width: 80%;
         text-align: justify;
         margin-bottom: 30px;
         p{
            font-size: 1rem;
            @media only screen and (min-width: 200px) and (max-width: 640px){
               font-size: 0.8rem;
            }
            @media only screen and (min-width: 641px) and (max-width: 1024px){
               font-size: 0.9rem;
            }
         }
      }
      &__btn{
         display: flex;
         justify-content: center;
      }
      
   }
}

.lienExterne{
   display: flex;
   flex-direction: column;
   &__information{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3rem;
      font-size: 1.2rem;
      h2{
         margin-bottom: 3rem;
      }
      p{
        text-align: center;
        width: 72%;
      }
      @media only screen and (min-width: 200px) and (max-width: 640px){
         h2{
            margin-bottom: 1rem;
            font-size: 1.2rem;
            text-align: center;
         }
         p{
           text-align: center;
           font-size: 0.8rem;
           width: 72%;
         }
      }
      @media only screen and (min-width: 641px) and (max-width: 1024px){
         h2{
            margin-bottom: 1rem;
            font-size: 1.4rem;
            text-align: center;
         }
         p{
           text-align: center;
           font-size: 1rem;
           width: 72%;
         }
      }
   }
   &__peinture{
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(./images/brushes-3129361_1920.jpg);
      margin-bottom: 3rem;
      @media only screen and (min-width: 200px) and (max-width: 640px){
         height: 25px;
      }
      @media only screen and (min-width: 641px) and (max-width: 1024px){
         height: 25px;
      }
   }
   &__accessoires{
      display: flex;
      align-items: center;
      justify-content: center;
      background-image: url(./images/painting-911804_1920.jpg);
      margin-bottom: 3rem;
   }
   .btn{
      margin: 100px
   }
}

