
.support{
   border: none;
   margin-top: 75px;
   &__titre{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(216, 216, 216);
      padding: 10px;
   }
   &__content{
      display: flex;
      flex-direction: row;
   }
    
    &__image{
       width: 400px;
       @media only screen and (min-width: 200px) and (max-width: 640px){
         width: 50%;
      }
    }
    
    &__texte{
       display: flex;
       flex-direction: column;
       justify-content: space-evenly;
       font-size: 1.5rem;
       @media only screen and (min-width: 200px) and (max-width: 640px){
         font-size: 1.2rem;
      }
    }
}
