.toiles{
   .article{
      margin-bottom: 50px;
      &__titre{
         margin-top: 20px;
         display: flex;
         justify-content: start;
         margin-left: 120px;
         @media only screen and (min-width: 200px) and (max-width: 640px){
            margin-left: 0px;
            justify-content: center;
            font-size: 1rem;
            margin-top: 0px;
         }
      }
      &__image{
         margin-top: 20px;
         display: flex;
         justify-content: center;
         max-width: 420px;
         max-height: 420px;
         img{
            box-shadow: 12px 12px 3px -1px rgb(155 155 155 / 32%);
            @media only screen and (min-width: 200px) and (max-width: 640px){
               max-width: 80%;
               margin-bottom: 10px;
            }
         }
      }
      &__description{
         margin-top: 20px;
         display: flex;
         flex-direction: column;
         align-items: center;
      }
      &__texte{
         width: 80%;
         text-align: justify;
         margin-bottom: 30px;
         h4{
            font-weight: bold;
            font-size: 1rem;
            @media only screen and (min-width: 200px) and (max-width: 640px){
               font-size: .8rem;
            }
         }
         p{
            font-size: 1rem;
            @media only screen and (min-width: 200px) and (max-width: 640px){
               font-size: .8rem;
            }
         }
      }
      &__table{
         width: 80%;
         table{
            width: 100%;
         }
         thead{
            text-align: center;
         }
         .colonne__gauche{
            background-color: #77e6b1;
            padding: 10px;
            width: 50%;
            @media only screen and (min-width: 200px) and (max-width: 640px){
               font-size: .8rem;
            }
         }
         .colonne__droite{
            background-color: #fd9696;
            padding: 10px;
            width: 50%;
            @media only screen and (min-width: 200px) and (max-width: 640px){
               font-size: .8rem;
            }
         }
         li{
            @media only screen and (min-width: 200px) and (max-width: 640px){
               font-size: .7rem;
            }
         }

      }
   }
}